.App {
  text-align: center;
}

main {
  background-color: rgb(231, 226, 226);
}

ul {
  list-style-type: none;
}

.articles-list {
  padding: 20px;
}

.post-comment-form {
  width: 100%;
  height: 100px;
}
.capitalize {
  text-transform: capitalize;
}
